* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pangolin", cursive;
  font-size: 24px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

h1 {
  font-size: 55px;
}

header {
  margin: 100px 0 50px 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
  margin-right: 12px;
}

a.active {
  text-decoration: underline;
}

footer {
  width: 100%;
  padding-top: 20px;
  bottom: 0;
}

footer.container {
  border: 3px solid #f19a0e;
  text-align: center;
  letter-spacing: 00.2em;
  padding: 12px 0;
}

span {
  color: #f19a0e;
}
